$xSmall: 280px;
$small: 577px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;

$bgGreen: #36beb1;
$bgWhite: #fafcff;

$mainColor: #36beb1;

$darkText: #2d2d2d;
$lightText: #707070;
$whiteText: #ffffff;
